:root {
  /* Primary Colors */
  --color-navy-dark: #0B1F3B;
  --color-navy: #122C54;
  --color-navy-light: #1A3A6B;

  /* Gold Variants */
  --color-gold: #D4AF37;
  --color-gold-muted: #B68A2A;
  --color-gold-dark: #A67C1A;

  /* Neutral */
  --color-white: #FFFFFF;
  --color-iceblue: #F0F8FF;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

a{
  text-decoration: none;
  color: inherit;
}


section > .container-fluid, footer > .container-fluid{
  padding:3% 7%;
}
.heading{
  text-align: center;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
h2,h3{
  font-weight: 700;
}
h4, h5, h6{
  font-weight:300;
}
h1,h2, h3, h4, h5, h6{
  padding: 10px 0;
}
h2, h3, h4, h5, h6{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
}

.navbar-brand {
    width: 12%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 40%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}

.nav-link{
  line-height: 50px;
}

/* button buttn */
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
} 
.btnPrimary, .btnPrimary:hover{
  background: var(--color-navy-light);
  color: var(--color-white);
}

/* header header */
#header{
 /* background:var(--color-navy); */
  background-image: url('./assets/catimage.jpg');
  color: white;
  height: 80vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#header .container-fluid{
  height: 100%;
  background: linear-gradient(
  to right,
  var(--color-navy-dark),
  transparent 500% 
  
);
display: flex;
flex-direction: column;
justify-content: center;
gap: 5px;
}


/* reason reason */
.reason-container{
  background-color: var(--color-iceblue);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 350px;
}
/* services services */
#services{
  background-color: var(--color-iceblue);
}
.service-container{
  background: var(--color-white);
  min-height: 470px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  
}