/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}


section > .container-fluid, footer > .container-fluid{
  padding:3% 7%;
}

/* nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav--nav */
nav{
  text-transform: capitalize;
}

.navbar-brand {
    width: 20%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 40%;
    }
}
nav .container-fluid{
  padding:0 7% ;
}

.nav-link{
  line-height: 50px;
}

